<h1> About Us </h1>
<p> The FF Team behind Album 1 </p>
<div>  {{ contributors }}


<div (onload)="getData()"> </div>
<!--The code to display images -->
<div *ngFor="let image of data; let i = index" style="text-align:center">
<div *ngIf="i<5">
   {{ image.title }}
 
 <img width="200" alt="thumbnail" [src]="image.thumbnailUrl">
</div> </div> 
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
